body {
    display: flex;
}

Button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#inputForm {
    background-color: rgb(0, 0, 0, 0.3);
    color: aqua;
    height: 900px;
    width: 1200px;
    margin-top: 2vh;
    margin-left: 17vw;
    border-radius: 20px;
    border-color: transparent;
    border-style: solid;
    transition: 0.4s ease-in-out;
}

#inputForm h3 {
    font-size: 35px;
}

Button {
    background-color: rgb(0, 0, 0, 0.5);
    color: aqua;
    border-radius: 10px;
    border-color: transparent;
    transition: 0.4s ease-in-out;
}